#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fad7d5;
  z-index: 999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .preloader #loader {
  opacity: 0;
  visibility: hidden;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #151c46;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #151c46;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #151c46;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*end of loader*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.btn {
  transition: all 0.3s;
}
.logos {
  padding: 5px;
  flex-basis: 30%;
  max-width: 15%;
  padding-left: 3%;
  border-radius: 65%;
  padding-right: 7%;
}
.btn {
  background-color: #64bcbe;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
}
.banners {
  display: flex;
  background-color: #64bcbe;
  align-items: center;
}
.banners span {
  max-width: 100%;
  font-size: 2.5vw;
  letter-spacing: 10px;
  color: #fad7d5;
}
navbar {
  display: flex;
  background-color: #151c46;
  justify-content: space-around;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  filter: drop-shadow(0px 4px 2px #59618b);
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.nav-links a {
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.nav-links li.active {
  background-color: #b9dbdb80;
}
.nav-links li:not(.active):hover {
  background-color: #4a4d61;
}
.nav-links li {
  padding: 5px;
  border-radius: 2px;
  display: inline;
}
.footer-out {
  clear: both;
  filter: drop-shadow(0px -4px 2px #59618b);
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  padding: 3px 0px 3px 0px;
  text-align: center;
  bottom: 0;
  float: bottom;
  position: relative;
  width: 100%;
  background-color: #151c46;
}
#cart {
  height: 3vw;
  color: white;
}
.footer-out .heading {
  bottom: 0;
  letter-spacing: 5px;
  font-size: 3vh;
  color: #f24a91;
}
.footer-in {
  bottom: 0;
  clear: both;
  position: relative;
  width: 100%;
  background-color: #64bcbe;
  bottom: 0;
  float: bottom;
}
.contact {
  list-style: none;
  justify-content: space-around;
  display: flex;
}
.contact li :hover {
  opacity: 0.8;
}
.contact li {
  color: #f24a91;
  display: inline;
  padding: 10px;
}
/* home page */
.home {
  margin: 5%;
  align-content: center;
}
.home_tab-container {
  align-self: center;
  display: flex;
  justify-content: space-around;
}
.home_tab {
  transform: translateY(0%);
}
.home_tab:hover {
  opacity: 0.8;
}
.home_tab--active {
  transform: translateY(50%);
}
.home_content {
  display: none;
  margin-top: 5px;
  padding: 10px;
  min-height: 50vh;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.home_content--active {
  display: block;
}
.home_content h1 {
  font-size: 3rem;
  color: #151c46;
  text-decoration: overline;
  font-style: italic;
}

.home_content img {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  height: 40vh;
}
.home_content p {
  text-align: justify;
  line-height: 150%;
  margin-right: 5%;
  line-height: 2;
  margin-left: 5%;
  font-size: 1.5rem;
}
/*products page*/
.product {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 18%;
  line-height: 1em;
  margin: 1%;
  color: #151c46;
  border-radius: 2px;
  text-align: center;
}
.product img {
  border-radius: 2px;
  height: 15rem;
}

.price {
}
.product .shop-item-description {
  color: grey;
  font-style: italic;
}
.product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #f24a91;
  border-radius: 2px;
  background-color: #64bcbe;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product button:hover {
  opacity: 0.7;
}
.product img:hover {
  opacity: 0.8;
}

.type {
  clear: both;
  text-align: center;
  margin: 2%;
}
.type hr {
  height: 3px;
  background-color: #151c46;
}
.listing-section h1 {
  color: #64bcbe;
  letter-spacing: 5px;
}

/*cart page*/

.cart h1 {
  color: #64bcbe;
  letter-spacing: 5px;
}

/*LOGIN MODAL*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.container {
  width: 400px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #151c46;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container .login-email .input-group {
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  padding: 3px;
}

.container .login-email .input-group input {
  width: 87%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: #f24a91;
}

.container .login-email .input-group .btn__login {
  display: block;
  width: 50%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #64bcbe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #64bcbe;
}

.login-register-text {
  color: #151c46;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #64bcbe;
}
